# Data Cleaning & Functions Assignment

Q1. What is data cleaning, and why is it important in data analysis?
   
    - What are the potential consequences of analyzing unclean or messy data?   
    
    - Explain the common steps involved in cleaning and organizing data.

Ans :  
  -  Data cleaning is the process of detecting, correcting, or removing inaccurate, incomplete, inconsistent, or irrelevant data from a dataset.

  - It ensures that the data is accurate, consistent, and usable before analysis.

  - Data cleaning is important because:

     - **Better Accuracy**: Clean data gives correct insights and conclusions.

     - **Reliable Results**: Eliminates errors that could mislead your analysis.

     - **Better Model Performance**: Machine learning models perform better with clean data.

     - **Improved Decision-Making**: Businesses rely on accurate data for planning.

     - Well-cleaned data reduces issues during analysis or reporting.

  - Consequences of Analyzing Unclean or Messy Data - If you analyze messy data, you may face:

     - **Wrong conclusions**  → leading to bad decisions.

     - **Incorrect trends or patterns** → misleading insights.

     - **Poor model accuracy in machine learning.**

     - **Biased results due to missing or duplicated data.**

     - **Increased time and cost to fix wrong outputs later.**

     - **Loss of trust in data or analysis.**

  - Common Steps in Cleaning and Organizing Data

     - Remove duplicate Data.
     - Handle missing values → Delete blanks or fill using formulas
     - Fix data types → Convert text to numbers/dates.
     - Standardize text → Use TRIM, UPPER, PROPER, Find & Replace
     - Correct inconsistencies → Data Validation, consistent formats
     - Remove errors/outliers → Sort + Conditional Formatting
     - Split/merge columns → Text to Columns, CONCAT
     - Create calculated fields → Use formulas (Qty × Price)
     - Delete unnecessary rows/columns
     - Rename & organize columns → Clear headers, table format
     - Validate final data → Check totals, missing values

Q2. How would you sort the following dataset first by "Department" (A-Z) and then by "Salary" (Largest to Smallest)? Write a step-by-step approach.

![image.png]()

Ans :    
  - **Step 1: Select the entire dataset**

       - Click and drag to select all columns: Employee, Department, Salary including the data.

  - **Step 2: Go to the Data tab**
       - On the Excel ribbon → Click Data.
       -Then click Sort.

  - **Step 3: Apply the first sorting condition (Department A → Z)**
       - In the Sort dialog box:
            - Under Column, select Department.
            - Under Sort On, select Values
            - Under Order, choose A to Z.
      - This will sort HR before IT.

  - **Step 4: Add second sorting condition (Salary Largest → Smallest)**
      - Click Add Level.
      - Under Column, select Salary.
      - Under Sort On, choose Values.
      - Under Order, select Largest to Smallest.
      -This ensures within each department, the highest salary comes first.

   - **Step 5: Click OK**
          -Excel will now sort the data using both levels.

Q3. Explain the use of text functions such as TRIM , LEFT, RIGHT, MID, and CONCAT in data cleaning.

Ans : Use of Text Functions in Data Cleaning (Excel)

- TRIM() : Removes extra spaces from text.
     - Fix messy text with unwanted spaces
     - Clean names, product codes, IDs, etc.
     - Makes data consistent for comparison and lookup

- LEFT() : Extracts characters from the left side of a text.
     - Split codes or IDs
     - Extract first names (if fixed format)
     - Get prefixes (e.g., state codes like "DL12345" → "DL")

- RIGHT() : Extracts characters from the right side.
     - Use in data cleaning
     - Extract last digits of IDs
     - Get domain from email (only if fixed)
     - Example: RIGHT("A12345", 2) → "45"

4. MID() : Extracts characters from the middle of a text using start position and length.
     - Split text when structure is fixed
     - Extract part of a phone number, code, or ID
     - Useful when LEFT and RIGHT cannot handle it
     - Example : MID("ABC-123-XYZ", 5, 3) → "123"

5. CONCAT() : Joins two or more text strings together.
     - Combine first + last name
     - Create full address
     - Merge columns to create new IDs
     - Example: CONCAT("Gagan", " ", "Kumar") → "Gagan Kumar"

Q4. What is the role of date functions like TODAY in managing datasets?

- Date functions like TODAY() play an important role in managing and analyzing datasets. They help automate date-based calculations without manually updating the date every day.

Uses of TODAY() function:
-  Automatically fetch the current date
     - TODAY() returns the system’s current date.
     - No need to update date manually.

-  Track age, tenure, and duration ,Used to calculate:
     - Employee age
     - Days since purchase
     - Remaining days
     - Work experience
     - Due dates

-  Help in filtering and sorting time-based data
     - Identify recent record
     - Detect expired dates
     - Highlight overdue tasks

-  Useful for dynamic dashboards
     - Dashboards stay updated every day automatically
     - Charts and reports refresh based on today's date

- Support conditional formatting
     - Highlight dates older than 30 days
     - Highlight deadlines approaching today

-  Useful in data validation
     - Restrict users from entering future dates
     - Allow only current date entries

Q5. Apply Data Validation to restrict Quantity values to only whole numbers between 1 and 10.

 - Configure an input message that appears when a user selects a cell in the "Quantity" column explaining:
"Please enter a whole number between 1 and 10."

 - Set up an error alert message that triggers if the user enters a number less than 1 or greater than 10,
**showing**:"Invalid input! The quantity must be a whole number between 1 and 10."


Ans :  [Excel file for Question 5](https://docs.google.com/spreadsheets/d/1pTwTPvjIN4X0Z1_ZoZnv2grfFiFzMryt/edit?usp=sharing&ouid=114462842342244050935&rtpof=true&sd=true)

**Step 1: Select the Quantity column**
 - Highlight all cells under the Quantity column (excludinig header).

**Step 2: Open Data Validation**
 - Go to the Data tab in Excel.
 - Click Data Validation → Select Data Validation again from the dropdown.

**Step 3: Set validation rule: Whole numbers between 1 and 10**
 - In the Settings tab:
 - Under Allow, choose Whole Number
 - Under Data, choose between
 - Enter:
   - Minimum: 1
   - Maximum: 10

**(a) Configure the Input Message**

**Step 4: Create an input message**
 - Go to the Input Message tab:
 - Check “Show input message when cell is selected”
 - Title: Quantity Rule
 - Message: Please enter a whole number between 1 and 10.

This message appears whenever the user selects a Quantity cell.

**(b) Set the Error Alert**

**Step 5: Create an error alert**
- Go to the Error Alert tab:
- Check “Show error alert after invalid data is entered”
- Style: Stop
- Title: Invalid Quantity
- Error message: Quantity must be a whole number between 1 and 10.

This alert appears when the user enters a number < 1 or > 10.

**Step 6: Click OK** : The data validation rule is now applied.

Q6.  Understand and apply fundamental text functions like LEFT, RIGHT, MID, and LEN.
- Extract the first 5 characters from the string "ExcelTipsAreGreat" using the LEFT function.
- Extract the last 4 characters from "DataAnalysis.xlsx" using the RIGHT function.
- Extract the substring "Tips" from "ExcelTipsAreGreat" using the MID function.
- Count the total number of characters in the string "Hello World!" using the LEN function.
- Create a formula to extract the middle 6 characters from "12345-67890-ABCDE".


Ans :  [Excel file for Question 6](https://docs.google.com/spreadsheets/d/1cP3hYI0xs28AMzwFdIgoibjyVuulpnZk/edit?usp=sharing&ouid=114462842342244050935&rtpof=true&sd=true)

 - Extract the first 5 characters from "ExcelTipsAreGreat" using LEFT
      - =LEFT("ExcelTipsAreGreat",5)    :  Excel

 - Extract the last 4 characters from "DataAnalysis.xlsx" using the RIGHT function.
      - =RIGHT("DataAnalysis.xlsx",4)    :  xlsx

 - Extract the substring "Tips" from "ExcelTipsAreGreat" using the MID function.
      - =MID("ExcelTipsAreGreat",6,4)    :   Tips

 - Count the total number of characters in the string "Hello World!" using the LEN function.
      - =LEN("Hello World!")    :   12

 - Create a formula to extract the middle 6 characters from "12345-67890-ABCDE".
      - =MID("12345-67890-ABCDE",7,6)   :   67890-

Q7.Understand how to combine text using CONCAT, TEXTJOIN, and the & operator.
  - Use CONCAT to combine "Hello" and "World" with a space in between.
  - Combine "Apple", "Banana", and "Cherry" into a single string separated by commas using TEXTJOIN.
  - Use the & operator to create the string "2025: Excel Functions" by combining "2025", ": ", and "ExcelFunctions".
  - Create a comma-separated list from the range A1:A5 using TEXTJOIN
  - Combine first names in column A with last names in column B to create full names in column C.

Ans :

 -  Use CONCAT to combine "Hello" and "World" with a space in between.
     -   =CONCAT("Hello", " ", "World")  :  HEllo World

 - Combine "Apple", "Banana", and "Cherry" into a single string separated by commas using TEXTJOIN.
     -   =TEXTJOIN(", ", TRUE, "Apple", "Banana", "Cherry")   :  Apple, Banana, Cherry

 - Use the & operator to create the string "2025: Excel Functions" by combining "2025", ": ", and "ExcelFunctions".
     -   ="2025" & ": " & "Excel Functions"   :   2025: Excel Function

 - Create a comma-separated list from the range A1:A5 using TEXTJOIN
     -   =TEXTJOIN(", ", TRUE, A1:A5)
     -   TRUE ignore empty cells , A1:A5 merges all values in A1 to A5 with commas.

 - Combine first names in column A with last names in column B to create full names in column C.
     -  if **A2 contains First Name** and **B2 contains Last name** then **formula in C2** is  :   =CONCAT(A2, " ", B2)

Q8. Understanding TODAY() and NOW()

 a. What is the difference between TODAY() and NOW() in Excel? Provide an example of when you would use each function.

 b. If cell A1 contains the date 2025-06-10, write a formula using TODAY() to determine how many days are left until that date

 c. Write an Excel formula using NOW() to display the current date and time in the format MM/DD/YYYY HH:MM AM/PM. ́

 d. If a cell contains =TODAY(), what will happen when the worksheet is reopened the next day? Explain

 e. You want to store a static date (today’s date) in a cell without it changing every day. What keyboard shortcut should you use?


Ans :

- Difference between TODAY() and NOW()
  - TODAY()
    - Returns only the current date (no time).
    - Example use: To calculate age, number of days remaining, or due dates
    - Example:  =TODAY() → 18-11-2025

  - NOW()
    - Returns current date AND current time.
    - Example use: To timestamp entries, track exact time of data entry, or build real-time dashboards.
    - Example :   =NOW() → 18-11-2025 11:47


- Formula to calculate days left until the date in A1 (2025-06-10)
  - If A1 contains 2025-06-10:   =A1 - TODAY()

- Use NOW() and format it as MM/DD/YYYY HH:MM AM/PM
  -  =TEXT(NOW(), "MM/DD/YYYY hh:mm AM/PM")   :  11/18/2025 11:54 AM

- If a cell contains =TODAY(), what will happen when the worksheet is reopened the next day
  - The value will automatically update to the new current date when the file is opened.TODAY() is a volatile function and always refreshes.

- Shortcut to insert a static date (non-changing date) :  ctrl + ;