# Logical Functions & Lookup Assignment

**Q1. Write a formula to check if the marks in cell B2 are greater than or equal to 40. If yes, return "Pass" , otherwise "Fail".**

**Ans:** =IF(B2>= 40,"Pass","Fail")

**Q2.company gives a bonus  if sales are above 40,000 and attendance is greater than or equal to 90%. Write a formula to calculate whether the employee will get a bonus or not.**

**Ans:**  =IF(AND(B2>40000,C2 >= 90), "Bonus","No Bonus")

**Q3.Write a nested IF formula:If marks in B2 are ≥ 90 → "A", ≥ 75 → "B" , ≥ 50 → "C" , otherwise "Fail".**

**Ans:** =IF(B2>=90,"A",IF(B2>=75,"B",IF(B2>=50,"C","Fail")))

**Q4.nd the Department of Employee ID = E103. Also explain which LOOKUP function is used and why?**

**Ans:** =VLOOKUP("E103",A2:C5,3,FALSE)
 - The correct function to use is VLOOKUP because:
    - it searches for a value vertically in the first column of a tble.
    - it returns the data from another column in the same row.
    - it is useful when the lookup value is in the first colummn.

**Q5. A company has set the following commission structure for its sales team:
If a salesperson achieves sales of ₹45,000, use the VLOOKUP function to determine the commission rate
applicable.**

**Ans:** =VLOOKUP(A8,$A$2:$B$5,2,TRUE)  
       - 45000 value is in cell A8

**Q6. The HR department maintains the following leave records of employees:onus or not .
Write an IF function to check whether an employee has Exceeded their allowed leave balance.**
- If Leaves Taken > Allowed Leaves, display "Exceeded".
- Otherwise, display "OK".


**Ans:** =IF(B2>C2,"Exceeded","OK")

**Q7. Find the salary of EmpID = E105 using INDEX-MATCH Function.**

**Ans:** =INDEX(B2:B5,MATCH("E105",A2:A5,0))      : **72000**

 **Q8. Use the XLOOKUP function to find the Department of the employee with Emp ID = E303**

 **Ans:** =XLOOKUP("E303",A2:A5,B2:B5,"N/A in Data",0,1)  : **IT**